@(singlePic: SharePicture)(implicit session: Session, request: RequestHeader)@* (implicit flash: Flash)*@
@import views.html.helper.CSRF
    @*Added to import form helpers for @inputText*@
@import play.api.data.Forms._
@import views.html.helper._

@main("Welcome to Play", session) {
    <head>

    </head>

    <body>
        <div class="jumbotron">
            <div class="d-flex flex-row">
@*            @for(picture <- detail){*@
                <div class="p-2">
                    <h2>Added on : @singlePic.date by @singlePic.addedBy </h2><br>
                    <img src="@singlePic.image" class="fit-container rounded float-left" alt="Image">

                    <form action="@routes.SharePictureController.handleLikes(singlePic.id)" method="post" >
                        @CSRF.formField
                       <button type="submit">Likes</button>
                        : @singlePic.likes
                    </form>

                </div>

                <div class="p-2" >

                    <h2>Description :</h2>
                    <h3>@singlePic.description</h3><br>
                    <h2>Comments:</h2>
                    @if(singlePic.comments != null) {
                        @for(comment <- singlePic.comments) {
                            <div class="comment">
                                <h3>@comment.username: @comment.lines</h3>
                            </div>
                        }
                }
                    <form action="@routes.SharePictureController.handleComment(singlePic.id)" method="post">
                        @CSRF.formField
                        <div class="input-group">
                            <span class="input-group-text">Add a Comment</span>
                            <textarea id="comment" name="comment" class="form-control" aria-label="With textarea"></textarea>
                        </div>
                        <button type="submit">
                        Upload comment
                        </button>
                    </form>
                </div>
            </div>
            }
        </div>
    </body>
