@()(implicit session: Session, request: RequestHeader)@* (implicit flash: Flash)*@
@import views.html.helper.CSRF

@main("Share Picture", session) {
  <style>
          .btn-original{
            text-align: left;
          }
          .btn-right{
            text-align: right;
          }
          .form-group {
              display: flex;
              margin-bottom: 10px;
          }

          label {
              display: inline-block;
              width: 150px;
              text-align: right;
              margin-right: 10px;
          }

          input[type="file"] {
              display: inline-block;
          }

          textarea {
              width: 100%;
              height: 400px;
              resize: none;
          }
          .form-center {
              display:flex;
              justify-content: center;
          }
  </style>
  <div class="form-center">
      <form action="@routes.SharePictureController.upload" method="post" enctype="multipart/form-data">
          <div class="form-group">
          <label for="image">Select Picture:</label>
              @CSRF.formField
              <input type="file" id="image" name="picture" style="display: inline-block;"><br>
          </div>

          <div class="form-group">
            <label for="desc">Description:</label>
            <textarea id="desc" name="desc" style="height: 400px; width: 600px;"></textarea>
          </div>
          <div>
              <button type="submit">Upload Picture</button>
              <a href="@routes.SharePictureController.sharePicture" class="btn btn-primary">Cancel</a>
          </div>
      </form>
  </div>
}

